%header.header.torn
  %ul.nav
    %li.nav-box.nav-head
      .nav__title.nav__title-stop.switch
        %button.nav__title-cover
          =image_tag src="continued.png",class:"nav__title-image",alt:"トップ画像",loding:"lazy"
    %li.nav-box.nav__menu
      %ul.nav__menu-list
        %li.nav__name
          #{@user.name}'s Continueds
        %ul.nav__user
          %li.nav__home
            = link_to "back","/" 
          %li.nav__logout
            = link_to "Log out", destroy_user_session_path,method: :delete
          %li.nav__post
            = link_to "continue", new_post_path
      