@import "compass";

$accent: #444444;
$black: #292929;
$dark: #666;
$darkGray: #999999;
$gray: #D8D8D8;
$lightGray: #f5f5f3;
$white: white;

@font-face {
  font-family: 'Eraser';
  src: font-url('Eraser.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$breakpoints: (
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1068px)',
) !default;

$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

//mixin

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
 }
 
 @mixin mq-d($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
 }

body,html {
  background-image: url(white_paper.jpg);
  background-size:cover;
}

h1,h2,h3,h4,h5,h6,body {
line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  // font-family: 'Unica One', "Dakota", "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  font-weight: normal;
  font-family: "Eraser";
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark;
  @extend .transition;
  &:hover {
    color: $accent;
  }
}


.bold {
  font-weight: bold;
}

.serif {
  font-family: 'ほのか明朝',serif;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: $gray;
}

.transition {
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
}

.btn {
    @include basePadding(8px 20px);
    font-size: 14px;
    border: 2px solid $accent;
    color: $accent;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten($accent, 15%);
    color: lighten($accent, 15%);
  }
}

.continued{
  backface-visibility: hidden;
  position: absolute;
  top: 66%;
  left: -5px;
  z-index: 3;
  transition-duration :3s;
  transform:translateX(800px);
  img{
    height: 150px;
    &:hover{
      filter: invert(1) drop-shadow(2px 2px 2px black);
    }
  }
  
}

.slick-active{
  .continued{
      transform:translateX(0);
      transition:all 1s 0.3s;
  }
}

.header {
  position: fixed;
  bottom: 0;
  right:0;
  z-index: 5;
  width: 100%;
  height: 40%;
  transition:opacity 1s cubic-bezier(0.38, 0.85, 0.44,-0.01) 1s,bottom 2s;
  background-image: url(torn_paper.png);
  background-size: cover;
  opacity: 1;
  @include mq-d(){
    height: 0;
  }

  .nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    &-box{
      width:100%;
      height: 100%;
    }
    &__title{
      position: fixed;
      bottom: 0;
      left: 0;
      transition:left 2s cubic-bezier(0.38, 0.85, 0.44,-0.01) 0.5s;
      &:hover{
        transform: scale(1.1);
      }
      @include mq-d(){
        
      }
      &-cover{
        width: auto;
        padding:0;
        margin:0;
        background:none;
        border:0;
        font-size:0;
        line-height:0;
         overflow:visible;
        &:focus{
          outline: none;
        }
      }
      &-image{
        width: 450px;
        height: 350px;
        @include mq-d(){
          width: 250px;
          height: 150px;
        }
      }
      &-stop{
        right:0;
        left: 90%;
      }
      &-start{
        left:-400px;
        transition:left 1s cubic-bezier(0.38, 0.85, 0.44,-0.01);
        @include mq-d(){
          left:-212px;
        }
      }
    }
    &__menu{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 35px;
      font-size:4vw;
      @include mq-d(){
        align-items: inherit;
        position: fixed;
        top: 0;
        right: 0;
        width: 70px;
      }
      &-list{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction:column;
        justify-content: space-around;
        & li{
          
          @include mq-d(){
            writing-mode: vertical-rl;
            text-orientation: upright;
          }
        }
      }
    }
    &__user{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      @include mq-d(){
        width:auto;
        flex-direction: column;
      }
      li{
        margin:10px;
      }
    }
    &__name{
      font-size: 3vw;
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
}



.torn{
  bottom:-1000px;
  right:-1000px;
  opacity:0.1;
}


.close{
  bottom: -60%;
  transition:bottom 2s;
}

.mein {
  width: 100%;
  height: 100%;
  padding:30px;
  .contents{
    margin:0 auto;
    text-align: center;
    h2 {
      font-size: 100px;
      font-weight: nomal;
    }
    .top-exp {
      margin:0;
      padding-bottom: 30px;
    }
    h3{
      font-size:30px;
    }
  }

  .content_post {
    @include boxBase(20px 0 ,30px);
    position: relative;
    height: 400px;
    color: #fff;
    background-repeat:  no-repeat;
    background-size: contain;
    background-position: center center;
    background-color:#f0f0f0;
    border: solid 5px transparent;
    animation-play-state:paused;
    &:focus{
      outline: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include filter-gradient(#000000, #a60000, vertical);
      @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.6) 100%));
      z-index: 1;
    }
    .more {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 30px;
      z-index: 2;
      height: 100px;
      width: 80px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        position: absolute;
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            padding: 5px;
            &:hover {
              background-color: $accent;
              color: #fff;
            }
          }
        }
      }
    }
    p {
      @extend .serif;
      position: absolute;
      left: 30px;
      right: 100px;
      bottom: 30px;
      margin: 0;
      font-size: 30px;
      z-index: 2;
      font-weight: bold;
      text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    }
    span.name {
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 2;
      font-size: 13px;
      a {
        display: block;
        color: #aaa;
        &:hover {
          text-decoration: underline;
          color: #aaa;
        }
      }
      span {
        font-size: 9px;
        display: block;
      }
    }
  }
  .title-post {
   p{
    text-align: center;
    line-height: 400px;
    font-size:40px;
    font-weight: bold;
    position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     filter: drop-shadow(5px 5px 3px black);
   }
   &:before{
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(5px);
   }
   &:after{
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     @include filter-gradient(#000000, #a60000, vertical);
     @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%));
     z-index: 1;
   }
  }


  .first-post {
    // border: solid 30px transparent;
  }
  .second-post {
    // border: solid 25px transparent;
  }
  .third-post {
    // border: solid 15px transparent;
  }
  .fourth-post {
    // border: solid 10px transparent;
  }

  .last-post{
    p{
      filter: saturate(150%) contrast(0.5) sepia(100%);
    } 
    &:focus{
      .edit-user{
        transform:translateY(0);
        transition:all 1s ease-in-out;
        opacity:1;
      }
      &:before{
        content: '';
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        background: inherit;
        filter: saturate(150%) contrast(0.5) sepia(100%) blur(1.5px) brightness(35%);
       }
     }
   &:before{
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: saturate(150%) contrast(0.5) sepia(100%);
   }
  }

  .edit-user{
    position: absolute;
    top: 0;
    right: 200px;
    left: 200px;
    bottom: 0;
    text-align: center;
    color: antiquewhite;
    opacity:0;
    transition-duration :1.5s;
    transform:translateY(-500px);
    &-box{
      margin:0 auto;
    }
    &__title{
      padding-top: 70px;
      padding-bottom: 20px;
      h4 {
        font-size: 25px;
      }
    }
    &__icon{
      img{
        margin:0 auto;
        border-radius: 50%;
      }
    }
    &__name{
      padding: 10px;
    }
  }


.success {
    @include boxBase(20px 0 ,30px);
    box-shadow: 0 0 10px rgba($black,0.2);
    background-color: $white;
    box-sizing: border-box;
    text-align: center;
    h3 {
      @include baseMargin;
    }
  }
}

form {

  input,textarea {
    width: 100%;
    @include boxBase(5px 0 15px,10px);
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: none;
  }
  input[type="submit"] {
    @extend .transition;
    font-family: Eraser;
    background-color: $accent;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten($accent, 10%);
    }
  }
}
.container {
  @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba($black,0.2);
  background-color: $white;
  box-sizing: border-box;
  max-width: 800px;
}
.comments {
  padding: 5px;
  margin-top: 15px;
  a {
    color: $accent;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  @include boxBase;
  color: $gray;
  p {
    text-align: center;
  }
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 800px;
}

.closeModal {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  padding: 0 14px;
  top: -80px;
  right: -70px;
  background-color: black;
  color: white;
  border-radius: 50%;
  opacity: 0.3;
  &:hover{
    opacity:0.5;
  }
}

.thumb{
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: solid 3px black;
  background-color: #222;
  // overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  p {
    margin: 0;
    padding: 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
  &:hover{
    .thumbnail{
      opacity:1;
      filter: blur(1px) drop-shadow(0px 0px 5px #f5f5f5);
      transform: scale(1.2);
      z-index: 1;
      position: relative;
      border:1px solid transparent;
    }
    .balloon-left{
      display:block !important;
    }
  }
}

.thumb-box{
  width:250px;
}

.thumbnail{
  filter: blur(5px);
  transition:all 0.1s ease;
  opacity: 0.7;
  &:first-child{

  }
}

.balloon-left {
  position: absolute;
  padding: 15px 10px;
  min-height: 10%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border-radius: 15px;
  top:1.5em;
  left:-4.5em;
  z-index: 1;
  display:none;
  @include mq-d(){
    display:block;
  }
}

.balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border: 8px solid transparent;
  border-left: 10px solid #fff;
}

.balloon-rigth {
  position: absolute;
  padding: 15px 10px;
  min-height: 10%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border-radius: 15px;
  top:1.5em;
  right:-4.5em;
  z-index: 1;
  display:none;
  
}

.balloon-rigth:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 8px solid transparent;
  border-right: 10px solid #fff;
}

.efect {
  display:none;
  position: absolute;
  z-index: 1;
  top:50%;
  left:50%;
}